# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/

# Envs
a.env
.env
.env.*

# Test/cache
.pytest_cache/
.coverage
htmlcov/

# Logs & data
logs/
*.log
*.tmp
*.jsonl
*.jsonl.gz
data/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
